.loader-container {
  position: relative;
  width: 5rem;
  aspect-ratio: 1;
}

.loader-container::before {
  content: '';
  position: absolute;
  inset: 0;
  height: 100%;
  width: 100%;
  width: 5rem;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 8px solid hsl(var(--secondary-200));
  clip-path: circle(50% at 50% 50%);
}

.spinning-loader {
  width: 5rem;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 8px solid hsl(var(--accent-green));
  animation: keyframe-1 0.8s infinite linear alternate, keyframe-2 1.6s infinite linear;
}

@keyframes keyframe-1 {
  0% {
    clip-path: polygon(50% 50%, 0 0, 50% 0%, 50% 0%, 50% 0%, 50% 0%, 50% 0%);
  }
  12.5% {
    clip-path: polygon(50% 50%, 0 0, 50% 0%, 100% 0%, 100% 0%, 100% 0%, 100% 0%);
  }
  25% {
    clip-path: polygon(50% 50%, 0 0, 50% 0%, 100% 0%, 100% 100%, 100% 100%, 100% 100%);
  }
  50% {
    clip-path: polygon(50% 50%, 0 0, 50% 0%, 100% 0%, 100% 100%, 50% 100%, 0% 100%);
  }
  62.5% {
    clip-path: polygon(50% 50%, 100% 0, 100% 0%, 100% 0%, 100% 100%, 50% 100%, 0% 100%);
  }
  75% {
    clip-path: polygon(50% 50%, 100% 100%, 100% 100%, 100% 100%, 100% 100%, 50% 100%, 0% 100%);
  }
  100% {
    clip-path: polygon(50% 50%, 50% 100%, 50% 100%, 50% 100%, 50% 100%, 50% 100%, 0% 100%);
  }
}

@keyframes keyframe-2 {
  0% {
    transform: scaleY(1) rotate(0deg);
  }
  49.99% {
    transform: scaleY(1) rotate(135deg);
  }
  50% {
    transform: scaleY(-1) rotate(0deg);
  }
  100% {
    transform: scaleY(-1) rotate(-135deg);
  }
}
