**/dist
node_modules/
*DS_Store
yarn-error.log
.idea/
build
.yalc/
.vscode
yalc.lock
lerna-debug.log
**/.env.production
**/.env.development
**/.env.production.compass
**/.env.development.compass
.zed
.zed
staging-builds
.cursorrules
.cursor/
CLAUDE.md
.cursor/